{% extends "layout.html" %}

{% block title %}
  Tweet
{% endblock title %}

{% block content %}
<h1 class = 'text-center mt-4'>
    welcome to the home page
</h1>
<a class = 'btn btn-primary mb-5' href="{% url 'tweet_create' %}">Create a Tweet</a>

<div class = 'container row gap-4'>
  {%for tweet in tweets %}
  <div class="card" style="width: 18rem;">
    {% if tweet.photo %}
      <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{tweet.user.username}}</h5>
      <p class="card-text">{{tweet.text}}</p>
      {% if tweet.temperature %}
        <p class="card-text">
          <small class="text-muted">
            🌡️ Weather in {{tweet.city}}: {{tweet.temperature}}°C
            <br>
            ☁️ Conditions: {{tweet.weather_description}}
          </small>
        </p>
      {% endif %}
      {% if tweet.user == user %}
      <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-primary">Delete</a>
      {% endif %}
      
    </div>
  </div>
  {%endfor %}
</div>
{% endblock content %}
